{% load cms_tags i18n rss_tags %}
<h3>
    {% if instance.title %}
    {{ instance.title }}
    {% else %}
    {{ feed.feed.title }}
    {% endif %}
</h3>
{% if feed.entries %}
<ul>
    {% for e in feed.entries %}
    {% if forloop.counter <= instance.count %}
    <li><p>
        <a {% if instance.open_in_new_window %}target="_blank" rel="noopener noreferrer"{% endif %} href="{{ e.link }}">{{ e.title }}</a>
        {% if e.author_detail %}
        {% trans 'by' %}
        {% if e.author_detail.link %}
        <a href="{{ e.author_detail.link }}">{{ e.author_detail.name }}</a>
        {% elif e.author_detail.email %}
        <a href="mailto:{{ e.author_detail.email }}">{{ e.author_detail.name }}</a>
        {% else %}
        {{ e.author_detail.name }}
        {% endif %},
        {% elif e.author %}
        {% trans 'by' %}
        {{ e.author }},
        {% endif %}
        {{ e.published_parsed|parsed_to_date|timesince }}
        {% trans 'ago' %}
    </p></li>
    {% endif %}
    {% endfor %}
</ul>
{% else %}
{% trans 'No entries found' %}
{% endif %}
